{% extends 'blog_app/base.html' %}

{% block title %}Detail Page{% endblock %}

{% block content %}
{% if post %}
<div class="card" style="width: 900px">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h3 class="">{{ post.title }}</h3>
      <p class="card-text">{{ post.content|safe }}</p>
    </div>
  </div>
  {% endif %}

  <div class="card mb-3 mt-3" style="max-width: 900px;">
    <div class="row g-0">
      <div class="col-md-2">
        <img src="..." class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h5 class="card-title">{{ post.author.first_name }}</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}